
div {
   
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    border: solid 1px;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.row {
    display: flex;
    flex-grow: 1;
    height: 100%;
}


